@import url("https://fonts.googleapis.com/css?family=Merriweather");

body {
    background-color: #1f1e33;
    font-family: 'Merriweather';
}

#container {
    display: flex;
    justify-content: space-around;
}

#reset {
    background-color: #dad9dd;
    color: initial;
    margin: auto;
    margin-top: 1.3%;
    width: 10%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#reset p {
    margin: 0;
}

#players {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: white;
}

#players img {
    width: 30%;
}

.inactive {
    opacity: 0.2;
}

#board {
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: 1% auto;
    background-color: black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 1%;
}

.field {
    width: 100%;
    height: 100%;
    background-color: #dad9dd;
    cursor: pointer;
}

.field img {
    margin: 10%;
    width: 80%;
}

#console {
    width: 10%;
    margin: auto;
    margin-right: 2%;
    color: white;
    text-align: right;
}

#console p {
    margin: 0;
}
