#board {
    margin-top: -20px;
    background-color: #1f1e33;
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

#playingboard {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}

#rest {
    height: 25%;
    width: 100%;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    display: flex;
}

#completed, #newstack {
    height: 100%;
    width: 8%;
}

#completed {
    margin-left: 1%;
}

#newstack {
    margin-left: 80%;
}

.diff-card {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.card-active {
    background-color: #dad9dd;
    width: 8%;
    height: 30%;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}
