#content {
    width: 80%;
    height: fit-content;
    margin: 10px auto;
    padding: 0;
}

/* top */
#top {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}

#top:hover { box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.23); }

#images {
    width: 47%;
    height: fit-content;
    margin-bottom: 10px;
    align-self: flex-start;
    top: 10px;
    position: sticky;
}

#bigimg {
    width: 85%;
    margin-left: 10%;
    border: 1px solid #1f1e33;
    border-radius: 10px;
}

#imgcontainer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.smallimg {
    width: 27%;
    margin: auto;
}

.smallimg:not(.active):hover { opacity: 80%; }

.active { opacity: 50%; }

#right-side {
    width: 48%;
    height: fit-content;
    align-self: flex-start;
    top: 10px;
    position: sticky;
    padding: 2%;
}

.txt { font-size: 20px; }

input[type="number"] { border: none; }

.button {
    width: 80%;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.button:hover { box-shadow: -2px -2px 2px #1f1e33, -2px 2px 2px #1f1e33, 2px -2px 2px #1f1e33, 2px 2px 2px #1f1e33; }

#buttonAdd {
    background-color: #1f1e33;
    border: 1px solid #1f1e33;
    color: white;
}

#buttonGet { border: 1px solid #1f1e33; }

#addtocart, #getatstore { margin: auto; }

#flex {
    width: 100%;
    display: flex;
}

.orhr { width: 40%; }

#or { margin: auto; }

/* rest */
#rest {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#rest:hover { box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.23); }

.spec {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-left: 2%;
    padding: 0;
    padding-left: 5px;
}

.spec-even {
    width: 96%;
    height: fit-content;
    color: black;
}

.spec-odd {
    width: 96%;
    height: fit-content;
    background-color: #706f7d;
    color: white;
}

.spec-name {
    width: 30%;
    margin: 10px;
}

.spec-value {
    width: 70%;
    margin: 10px;
}
